* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(100, 225, 228);
}
.image-gallery {
  max-width: 50rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-inline: auto;
}
.image-gallery > img {
  height: 21rem;
  width: 100%;

  aspect-ratio: 1/1;
  scale: 0.9;

  object-fit: cover;

  border: 10px solid black;
  transition: scale 500ms ease, opacity 500ms linear, border-radius 600ms;
}
.image-gallery:has(img:hover) > img:not(:hover) {
  scale: 0.7;
  opacity: 0.5;
}
.image-gallery > img:hover {
  border-radius: 50%;
}
