* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  display: grid;
  place-items: center;
  background: rgb(10, 180, 183);
}
.image-gallery {
  max-width: 50rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-inline: auto;
}
.image-gallery > img {
  height: 21rem;
  width: 100%;

  aspect-ratio: 1/1;
  scale: 0.9;

  object-fit: cover;

  border: 0.3rem solid black;
  border-radius: 4rem;
  transition: scale 500ms ease, opacity 500ms linear;
}
.image-gallery:has(img:hover) > img:not(:hover) {
  scale: 0.7;
  opacity: 0.5;
}
.image-gallery > img:hover {
  border: 0.4rem solid black;
  border-radius: 4rem;
  filter: drop-shadow(1rem 1rem 1rem white);
}
